#home .big-title {
    font-size: 79.5px;
}

#home .medium-title {
    font-size: 40.2px;
}

.text-color-1 {
    color: #e84545;
}

.title-white {
    color: #ffffff;
}

#wordheading {
    color: #ffffff;
}

/* section,
    .section {
        color: var(--default-color);
        background-color: var(--background-color);
        padding: 60px 0;
        overflow: clip;
    }

    .hero {
        --default-color: #ffffff;
        --default-color-rgb: 255, 255, 255;
        --background-color: #000000;
        --background-color-rgb: 0, 0, 0;
        width: 100%;
        min-height: 100vh;
        position: relative;
        padding: 160px 0 80px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    } */

.home {
    width: 100%;
    /* background-color: #000000; */
    min-height: 100vh;
    position: relative;
    display: flex;
    padding: 160px 0 80px 0;
    align-items: center;
    justify-content: center;
}

.book-icon {
    fill: #ffffff;
}

.title {
    color: #32de84;
    /* Andriod Green */
}

.webai-page {
    width: 100%;
    background-color: #000000;
    min-height: 100vh;
    position: relative;
    display: flex;
    padding: 30px 0 80px 0;
    align-items: center;
    justify-content: center;
}

#web-ai-2 .webai-page-2 {
    width: 100%;
    /* background-color: #000000; */
    /* background-image: url('images/layered-waves-haikei (1).png'); */
    min-height: 100vh;
    position: relative;
    display: flex;
    padding: 30px 0 80px 0;
    align-items: center;
    justify-content: center;
}

.cotainer {
    border-radius: 10px;
}

/* Style for WebKit browsers (Chrome, Safari, etc.) */
.container::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

/* Track styles */
.container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 10px;
}

/* Handle styles */
.container::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 10px; /* Border radius of the scrollbar handle */
}

/* Handle hover styles */
.container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
}